# Puerto del servidor
PORT=3000

# Conexión a Base de Datos
DATABASE_URL="postgresql://postgres:password_seguro@db:5432/desafioTabu?schema=public"

# API KEY OPENAI
OPENAI_API_KEY="sk-tu_clave_secreta_aqui"