# Puerto del servidor
PORT=3000

# Variables para la infraestructura (Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=desafioTabu
DATABASE_URL=postgresql://postgres:1234@db:5432/desafioTabu?schema=public

# API KEY GEMINI
GEMINI_API_KEY="AIzaSyTuClaveGratuitaDeGoogle..."