# Puerto del servidor
PORT=3000

# Conexión a Base de Datos
DATABASE_URL="postgresql://postgres:password_seguro@db:5432/desafioTabu?schema=public"

GOOGLE_CLIENT_ID=893244618598-c67i336l1kh23nmvvtsgt2hgj0aut5lq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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